footer {
  grid-area: footer;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 890px) {
    footer {
      display: flex;
      flex-direction: column;
      justify-content: center; } }
  footer h3 {
    text-align: center;
    font-family: 'Aldrich', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal; }
    footer h3:hover {
      color: grey; }
  footer li {
    color: white;
    display: inline-block;
    position: relative;
    width: 90%;
    padding: 5px 10px; }
    footer li a {
      align-items: center;
      color: white;
      text-decoration: none; }
      footer li a:hover {
        background-color: #240b36;
        border-radius: 20ch;
        padding: 5px 10px;
        opacity: .7; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #240b36;
  background: -webkit-linear-gradient(to top left, #240b36, #ac0c26, #240b36);
  background: linear-gradient(to top left, #240b36, #c31432, #240b36);
  background-attachment: fixed;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
  grid-template-areas: "head head head" "h1 h1 h1" "text text text" "boton boton boton" "footer footer footer"; }
  @media (max-width: 890px) {
    body {
      grid-template-areas: "head head head" ". text ." ". h1 ." ". boton ." "footer footer footer"; } }

header {
  grid-area: head; }
  @media (max-width: 890px) {
    header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; } }
  header h1 {
    text-align: center;
    max-width: 50;
    top: 15px;
    padding: 8px;
    font-family: 'Aldrich', sans-serif; }

nav {
  display: flex;
  justify-content: center;
  text-align: center; }
  nav li {
    color: white;
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    font-family: 'Julius Sans One', sans-serif; }
    nav li:hover {
      background-color: #240b36;
      border-radius: 20ch;
      padding: 5px 10px;
      opacity: .7;
      transition: 700ms; }

main {
  margin-top: 20px;
  color: white;
  width: 100vw; }
  @media (max-width: 890px) {
    main div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px; }
      main div h1 {
        grid-area: h1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; }
      main div h1 {
        grid-area: h1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center; } }
  main .about, main .about-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center; }
  main .about-text {
    /* EXTEND */
    grid-area: text;
    margin-top: 50px; }
    @media (max-width: 890px) {
      main .about-text {
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: center; } }
  main .text {
    width: 350px; }
    @media (max-width: 890px) {
      main .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 70vh;
        height: 70%; }
        main .text h2 {
          margin-top: 30px; }
        main .text p {
          margin-top: 10px; } }
    main .text h2 {
      margin-bottom: 20px;
      font-family: 'Aldrich', sans-serif; }
    main .text p {
      font-family: 'Julius Sans One', sans-serif;
      padding: 10px 20px; }
  main .boton {
    grid-area: boton;
    display: flex;
    justify-content: center; }
    main .boton button {
      /* MIXIN */
      border-radius: 50px;
      padding: 10px 20px;
      appearance: none;
      background-color: transparent;
      border: 2px grey solid;
      font-size: 0.9em;
      margin-top: 20px;
      cursor: pointer;
      font-family: 'Aldrich', sans-serif;
      margin-bottom: 20px; }
      main .boton button:hover {
        background-color: #181717;
        cursor: pointer;
        color: white;
        font-family: 'Aldrich', sans-serif;
        transition: 450ms;
        opacity: 0.8; }
      @media (max-width: 890px) {
        main .boton button {
          display: flex;
          flex-direction: column;
          margin: 150px 50px;
          margin-bottom: 25px; } }
